@import '../node_modules/wikimedia-ui-base/wikimedia-ui-base.less';

@font-size-browser: 16; // Common (assumed) browser default of `16px`.
@font-size-base-value: 14 / @font-size-browser;
@font-size-base: unit( ( @font-size-base-value ), @wvui-unit ); // Equals `0.875em` at browser default of `16px`.
@wvui-unit: em;

@size-base: unit( ( 32 / @font-size-browser / @font-size-base-value ), @wvui-unit ); // equals `2.5em`≈`32px`
@size-base--small: unit( ( 16 / @font-size-browser / @font-size-base-value ), @wvui-unit );
@size-indicator: unit( ( 12 / @font-size-browser / @font-size-base-value ), @wvui-unit );

@color-quiet--hover: @wmui-color-base0;

@line-height-component: unit( ( ( 20 / @font-size-browser ) / @font-size-base ), @wvui-unit );

@border-color-input--hover: @border-color-base--active;

// Checkbox and radio variables.
// FIXME: VitePress does not like division, e.g. 20 / @font-size-browser / @font-size-base.
@size-input-binary: unit( ( 20 / @font-size-browser / @font-size-base-value ), @wvui-unit );;
@padding-left-input-binary-text: @size-input-binary + 0.5em;
@start-input-binary-icon: unit( ( 3 / @font-size-browser / @font-size-base-value ), @wvui-unit );
@margin-bottom-binary-input--stacked: 12px;
@margin-right-binary-input--inline: 16px;

@background-color-input-binary--active: @color-primary--active;
@background-color-input-binary--checked: @color-primary;

@border-color-input-binary: @border-color-base--active;
@border-color-input-binary--checked: @color-primary;
@border-color-input-binary--hover: @color-primary--hover;
@border-color-input-binary--active: @color-primary--active;
@border-color-input-binary--focus: @color-primary--focus;
@border-width-input-radio--checked: unit( ( 6 / @font-size-browser / @font-size-base-value ), @wvui-unit );

@box-shadow-input-binary: 0 0 0 1px rgba( 0, 0, 0, 0.1 );
@box-shadow-input-binary--focus: inset 0 0 0 1px @color-primary--focus;
@box-shadow-input-checkbox--focus-checked: @box-shadow-primary--focus;
@box-shadow-input-binary--active: inset 0 0 0 1px @color-primary--active;

// Toggle switch.
@size-toggle-switch-width: 3.5em;
@size-toggle-switch-height: 2em;
@size-toggle-switch-grip--mobile: 1.25em;
@start-toggle-switch-grip: unit( ( 5 / @font-size-browser / @font-size-base-value ), @wvui-unit );
@start-toggle-switch-grip--mobile: unit( ( 4.5 / @font-size-browser / @font-size-base-value ), @wvui-unit );
@min-height-toggle-switch: 26px;
@min-size-toggle-switch-grip: 16px;
@padding-right-toggle-switch-text: 16px;
@border-radius-toggle-switch: @size-base--small;
@border-color-framed-progressive--hover: @color-primary--hover;
@border-filled--disabled: @border-width-base @border-style-base @border-color-filled--disabled;

// Mixins.
// Support Webkit/Blink: Force element on own GPU composite layer
// Can be used in order to help establish smooth, jank-free scrolling in
// connection with CSS animations or tame `opacity` bug. Use sparely & wisely!
// See T154460 & T182257.
.force-gpu-composite-layer() {
	-webkit-transform: translateZ( 0 );
	transform: translateZ( 0 );
}
